.Footer-title {
    text-align: center;
    // margin-bottom: 30px;
    height: 30px;
    width: 100%;
    padding: 10px;
    background-color: rgb(0 ,153, 153,1) !important;
    color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 100px;
    // background-color: #e7e7e7;
    background-image: url(../../Image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;    
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        


        
        .Footer-logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            // width: 100%;
            a {
                .Footer-logo-right {
                    display: block;
                    height: 1px;
                    background: #8b0304;
                    width: calc(100% + 50px);
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: calc(100% + 50px);
                }
                .Footer-logo-left {
                    display: block;
                    height: 1px;
                    background: #8b0304;
                    width: calc(100% + 14px);
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    right: calc(100% + 14px);
                }
            }
        }
        .Footer-content-flex {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-self: center;
            
            gap: 20px;
            
            .Footer-content {
                justify-self: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .Footer-content-title {
                    color: rgb(0 ,153, 153,1) !important;
                }
                p {
                    padding: 10px 0;
                }
            }
        }

        .Footer-contact {
            justify-self: center;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            .Footer-contact-title {
                color: rgb(0 ,153, 153,1) !important;   
            }
            .Footer-contact-icon {
                // margin-left: 10px;
                a {
                    text-decoration: none;
                    display: flex;
                    gap: 10px;
                    padding: 10px 0;
                    .icon {
                        color: #5e4027;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 810px) {
    .Footer {
        .flex {
            .Footer-logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                // width: 100%;
                a {
                    .Footer-logo-right {
                        display: block;
                        height: 1px;
                        background: #8b0304;
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: calc(100% + 14px);
                    }
                    .Footer-logo-left {
                        display: block;
                        height: 1px;
                        background: #8b0304;
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        right: calc(100% + 14px);
                    }
                }
            }
            .Footer-content-flex {
                grid-template-columns: repeat(1,1fr);
                .Footer-content {
                    .Footer-logo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .Footer-contact {
                    .Footer-contact-title {

                    }
                    .Footer-contact-icon {
                            
                    }
                }
            }
            .Footer-contact {
                justify-self: left;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                .Footer-contact-title {
                    color: rgb(0 ,153, 153,1) !important;   
                }
                .Footer-contact-icon {
                    margin-left: 10px;
                    a {
                        text-decoration: none;
                        display: flex;
                        gap: 10px;
                        padding: 10px ;
                        .icon {
                            color: #5e4027;
                        }
                    }
                }
    
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .Footer-title {
        height: 50px;
    }
} 