
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:ital,wght@0,400;1,500&family=Roboto:wght@400;500;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
p {
    color: rgba(25, 28, 47, 0.65);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: -0.3px;
    // margin-left: 20px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
.App {
  overflow: hidden;
}
td {
  padding: 5px;
}

@media (min-width: 319px){
  .container {
      max-width: 300px;
      justify-content: center;
  }} 

@media (min-width: 374px){
  .container {
      max-width: 354px;
      justify-content: center;
  }} 

@media (min-width: 410px){
  .container {
      max-width: 390px;
      justify-content: center;
  }} 
@media (min-width: 460px){
  .container {
      max-width: 440px;
      justify-content: center;
  }} 
// @media (max-width: 500px){
//     .container {
//         max-width: 500px;
//         justify-content: center;
//     }}

@media (min-width: 500px){
  .container {
      max-width: 480px;
      justify-content: center;
  }} 
@media (min-width: 540px){
  .container {
      max-width: 520px;
      justify-content: center;
  }}
@media (min-width: 550px){
  .container {
      max-width: 540px;
      justify-content: center;
  }}
@media (min-width: 576px){
.container {
  max-width: 570px;
  justify-content: center;
}}
@media (min-width: 730px){
  .container{
      max-width: 710px;
      justify-content: center;
  }}
  
@media (min-width: 767px){
.container{
  max-width: 745px;
  justify-content: center;
}}

@media (min-width: 768px){
.container {
  max-width: 748px;
  justify-content: center;
}}
@media (min-width: 800px){
  .container {
      justify-content: center;
      max-width: 780px;
  }}
@media (min-width: 992px){
  .container {
      max-width: 960px;
  }}

@media (min-width: 1024px){
  .container {
      max-width: 1000px;
  }
}
  
@media (min-width: 1100px){
  .container {
      max-width: 1050px;
  }
}
@media (min-width: 1200px){
  .container {
      max-width: 1100px;
  }
}
@media (min-width: 1300px){
  .container {
      max-width: 1250px;
  }
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.PhoneIconBottom {
  position: fixed;
  bottom: 30px;
  padding:  10px 0;
  left: 20px;
  display: flex;
  align-items: center;
  z-index: 2000;
  cursor: pointer;
  width: 200px;
  // overflow: hidden;
  
  .PhoneBottomIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 12px;
    background-color: rgba(5,231,118,1);
    border-radius: 40%;
    // overflow: hidden;
    
    z-index: 200;
    
    .IconPhoneBottom {
      display:block;
      // width: 60px;
      // height: 60px;
      // font-size: 40px;
      // margin:50px auto 0;
      color: white;
      animation: ring 4s .7s ease-in-out infinite;
      transform-origin: 50% 4px;
      
    }
  }
  .phoneNumber{
    position: absolute;
    left: 30px;
    overflow: hidden;
    width: 130px;
    border-radius: 20px;
    .PhoneNumberHide {
      position: relative;
      background-color: rgba(5,231,118,1);
      border-radius: 0 50px  50px 0 ;
      font-size: 17px;
      display: block;
      padding: 7px;
      // position: static;
      right: 180px;
      z-index: 100;
      transition: right 1s ease-in;
      overflow: hidden;
      // color: rgb(238, 0, 51);
      text-decoration: none;
      color: white;

      
    }
    .PhoneNumberShow {
      right: -10px;
    }
  }
  
}



@keyframes ring {
  0% { transform: rotate(0); }
  5% { transform: rotate(20deg); }
  10% { transform: rotate(-20deg); }
  15% { transform: rotate(30deg); }
  20% { transform: rotate(-30deg); }
  25% { transform: rotate(30deg); }
  30% { transform: rotate(-28deg); }
  35% { transform: rotate(20deg); }
  40% { transform: rotate(-20deg); }
  45% { transform: rotate(22deg); }
  50% { transform: rotate(-20deg); }
  55% { transform: rotate(18deg); }
  60% { transform: rotate(-16deg); }
  65% { transform: rotate(14deg); }
  70% { transform: rotate(-12deg); }
  75% { transform: rotate(10deg); }
  80% { transform: rotate(-8deg); }
  85% { transform: rotate(6deg); }
  90% { transform: rotate(-4deg); }
  95% { transform: rotate(2deg); }
  100% { transform: rotate(-1deg); }
}