
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:ital,wght@0,400;1,500&family=Roboto:wght@400;500;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
p {
    color: rgba(25, 28, 47, 0.65);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: -0.3px;
    // margin-left: 20px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
.App {
  overflow: hidden;
}

@media (min-width: 319px){
  .container {
      max-width: 300px;
      justify-content: center;
  }} 

@media (min-width: 374px){
  .container {
      max-width: 354px;
      justify-content: center;
  }} 

@media (min-width: 410px){
  .container {
      max-width: 390px;
      justify-content: center;
  }} 
@media (min-width: 460px){
  .container {
      max-width: 440px;
      justify-content: center;
  }} 
// @media (max-width: 500px){
//     .container {
//         max-width: 500px;
//         justify-content: center;
//     }}

@media (min-width: 500px){
  .container {
      max-width: 480px;
      justify-content: center;
  }} 
@media (min-width: 540px){
  .container {
      max-width: 520px;
      justify-content: center;
  }}
@media (min-width: 550px){
  .container {
      max-width: 540px;
      justify-content: center;
  }}
@media (min-width: 576px){
.container {
  max-width: 570px;
  justify-content: center;
}}
@media (min-width: 730px){
  .container{
      max-width: 710px;
      justify-content: center;
  }}
  
@media (min-width: 767px){
.container{
  max-width: 745px;
  justify-content: center;
}}

@media (min-width: 768px){
.container {
  max-width: 748px;
  justify-content: center;
}}
@media (min-width: 800px){
  .container {
      justify-content: center;
      max-width: 780px;
  }}
@media (min-width: 992px){
  .container {
      max-width: 960px;
  }}

@media (min-width: 1024px){
  .container {
      max-width: 1000px;
  }
}
  
@media (min-width: 1100px){
  .container {
      max-width: 1050px;
  }
}
@media (min-width: 1200px){
  .container {
      max-width: 1100px;
  }
}
@media (min-width: 1300px){
  .container {
      max-width: 1250px;
  }
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}