.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 100px 0 100px 0;
    // background-color: #6c757d;
    text-align: center !important;
    width: 100%;
    .content-slide {
        padding: 20px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        .content-flex {
            .slick-slide {
                
            }
        }

        // display: grid;
        width: 100%;
    }
}
.img {
    // max-width: 540px;
    // max-height: 405px;
    display: flex !important;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
}

.slick-arrow {
    display: none !important;
    transition: all 0.3s;
    transition: transform .3s, opacity .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
    /* margin: 10px; */
    width: 30px;
    height: 30px; 
    position: absolute;
    top: 60%;
    margin-top: 20px;
    z-index: 20; 
    /* position: fixed; */
}
.slick-slider   {
    &:hover > .slick-arrow {
        display: block !important;
        
    }  
}
.slick-arrow::before {
    font-size: 30px;
    color: #6aa6be;
    // background-color: none;
}

 
.slick-dots button {
    cursor: pointer;
}
.slick-next  {
    right: 8%;
    top: 43%;
    
}
.slick-prev  {
    left: 8%;
    top: 43%;
}

/* custom dot slide */
.slick-dots li {
    // position: absolute;
    // bottom: 25%;
    // right: 15%;
    // display: flex !important;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: -35px;
    
}
.slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 0;
    padding: 2px;
    border: 3px solid #b1d5e2;
}
.slick-dots li button::before {
    content: none;
}
.slick-dots .slick-active button{
    background-color: #b1d5e2;
}
@media screen and (max-width: 450px) {
    .slick-arrow {
        display: none !important;
    }
    .slick-slider   {
        &:hover > .slick-arrow {
            display: none !important;
        }  
    }
}
@media screen and (max-width: 730px) {
    .img {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .img {
        width: 100%;
    }
}
